div{
    width: 300px;
    height : 200px;
    
}
#div1{
    background: blue;
    background-image: url(../top/1.jpg);
    background-repeat: no-repeat;
    background-position: -10px 100px;
    height: 500px;
    text-indent: 10px;
    text-align: center;
    line-height: 500px;
    text-decoration: line-through;
     font-size: 50px;
     font-weight:bold;
     font-family:impact,haettenschweiler,'Arial narrow bold',sans-serif ;
     font-style: italic;
     
}
ul{
    list-style: none;
}
li{cursor: pointer;}
#div5{
    width: 200px;
    height: 200px;
    background: #ff0000;
    padding: 20px 30px 40px 40px; 
    border: 10px solid #000;
    margin: 50px;
    box-sizing: border-box;
}
#div6{width: 500px;
background: #eeeeee;
}
#div7,#div8{
    width: 200px;
    height: 200px;
    border:1px solid#000;
    background: #ff0000;
    float: left;
}
 h1{height: 50px;
background: #0000ff;
}   
#div9{
    width: 100px;
    height: 20px;
    background: #eeeeee;
    overflow: hidden;
}
.clearfix::after{
    content: "";
    display: block;
    clear:both;
}